.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body{
  overflow: auto;
}
.tags-input {
  border: 1px solid #ccc;
  padding: 5px;
  min-height: 30px;
  outline: none;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tag {
  background-color: #f1f1f1;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
}
span:hover{
cursor: pointer;
}

main .title{
  height: 19%;
  background-color: #242424;
  width: 100%;
  display: flex;
  gap: .5rem;
  
      flex-direction: column;
      padding-left: 1rem;
      border-radius: 5px;
      color: #f1f1f1;
      padding: 1rem;
}
h2{
  font-size: 1.5em;
  font-weight: 400;

}
p{
  font-size: 11px;
}
input{
  padding: 10px;
  color: aliceblue;
  
  
  background-color: transparent;
  border-radius: 5px;
  vertical-align: top;
  border:1px solid rgba(129, 126, 126, 0.43);
}
main{display: flex;
  justify-content: center;
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.Tags{
  height: 22% !important;
}
.tag{
  color: black;
  font-weight: 500;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
  width: 100%;
}
form{
  width: 100%;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .2rem;
  align-items: flex;
}
form{
  width: 50%;
  border-radius: 5px;
  background-color: #242424;
}
button{
  height: 5vh;
  align-self: start;
  width: 10vw;
  margin: 1rem;
  border-radius: 5px;
  border: 2px solid;
  border-color: #ff7300;
  background-color: #24242456;
  font-size: 1em;
  cursor: pointer;
  transition: .3s ease-in;
  font-weight: 500;
  color: #f1f1f1;
}
button:hover{
  border-color: #1c1c1c;
  background-color: #ff7300;
}
select{
  background-color: #242424;
  height: 5vh;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  border-radius: 5px;
  color: #ccc;
  padding: .3rem;
}
span:hover{
  background-color: #673991;

}
#file{
cursor: pointer;
}


body::-webkit-scrollbar {
width: 5px;
}


body::-webkit-scrollbar-track {
background: #3e3e3e;
}


body::-webkit-scrollbar-thumb {
background: #1a1a1a;
border-radius: 4px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
background: #555;
}